input[type="text"],
input[type="email"] {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;

}


body {  
    background-color: rgb(204, 204, 204);
    color: rgb(79, 79, 80);
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#input_box {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#space {
    padding: 5px;
}


form {
    border-style: dashed;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 5%;
    background-color: rgb(177, 177, 177) ;
}
