input[type="text"],
input[type="email"] {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    /* TRANSITION Effect */
    transition: background-color 2s;
}


textarea {
    width: 30%;
    animation-name: text-area;
    animation-duration: 10s;
    transition: background-color 2s;

}

@keyframes text-area {
    from  {
        width: 5%;
    }
    to {
        width: 30%;
    }
}

/* HOVER on text boxes */
input[type='text']:hover,
input[type='email']:hover,
textarea:hover {
    background-color: rgb(228, 224, 30);
}

/* Hover SUBMIT button to big */
input[type='submit']:hover {
    font-size: large;
    transition: font-size 3s;
}

/* FOCUS on text boxes */
input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
    background-color: rgb(206, 206, 206);
    transition: background-color 2s;
}


body {  
    background-color: rgb(204, 204, 204);
    color: #4f4f50;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#input_box {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#space {
    padding: 5px;
}


form {
    border-style: dashed;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 5%;
    background-color: rgb(177, 177, 177) ;
}

 input[type='submit'] {
    background-color: #4f4f50;
    /* background-image: linear-gradient(to right, red, grey); */
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
}

/* ACTIVE effect on text boxes */
input[type='submit']:active {
    font-size: x-small;
}